on: [push, pull_request]
name: Test
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: "^1.18"
      - run: make docker-build
