on: [push, pull_request]
name: Test
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.23.0"
      - run: make docker-build
